main.select-industry {
	background-color: #F2F2F2;
	.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
}

section.select-industry {
	.row {
		@include mdq(xs) {
			flex-direction: column-reverse;
		}
	}
	.select-industry-body {
		padding: 128px 84px 195px 80px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@media only screen and (min-width: 320px) and (max-width: 1200px) {
			padding: 20px;
		}

		h3 {
			font-size: 45px;
			@include medium;
			color: #000;
			margin-bottom: 20px;
			@include mdq(xs-md) {
				font-size: 32px;
			}
		}

		p {
			font-size: 32px;
			@include regular;
			color: #000;
			margin-bottom: 20px;
			@include mdq(xs-md) {
				font-size: 24px;
				margin-bottom: 20px;
			}
		}

		&-list {
			display: flex;
			flex-wrap: wrap;
		}

		&-content {
			&-item {
				&:not(:last-child) {
					margin-bottom: 50px;
				}

				&-title {
					display: flex;
					align-items: center;
					height: 60px;
					background-color: $white;
					font-size: 20px;
					color: #000;
					@include regular;
					margin-bottom: 30px;

					span {
						display: flex;
						width: 60px;
						height: 60px;
						color: $white;
						background-color: #F0AB2C;
						display: flex;
						align-items: center;
						justify-content: center;
						margin-right: 16px;
					}
				}
			}
		}

		.radio {
			margin-bottom: 50px;
			@include mdq(xs) {
				margin-bottom: 30px;
			}

			&:not(:last-child) {
				margin-right: 50px;
				@include mdq(xs) {
					margin-right: 20px;
				}
			}
		}
	}

	.select-industry-image {
		margin-bottom: 60px;
		@media only screen and (min-width: 320px) and (max-width: 1200px) {
			margin-bottom: 0;
		}

		img {
			width: 100%;
		}
	}
}